.flexContainer{

    display: flex;
}

.flex-child-1 {
    width: 50%;
    float: left;
    /* border: 2px solid red; */
}  

.exercise-flex-child-2 {
    padding: 0 !important;
    width: 50%;
    float: left;
    padding: 20px;
    /* border: 2px solid blue; */
    flex-direction: column;
    position: relative;
    top: 25px;
}

.progressBar{
    height: 90px
}

.h1-font{
    color: #000000;
    font-size: 2rem;
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Yeseva One', serif;
}

/* .cards{
    filter: contrast(0.8);
} */

.MuiSvgIcon-root-schedule {
    fill: currentColor;
    width: 2em !important; 
    height: 2em !important;
    color: #000000 !important;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}