.flexContainer{

    display: flex;
}

.flex-child-1 {
    width: 50%;
    float: left;
    /* border: 2px solid red; */
}  

.flex-child-2 {
    padding: 0 !important;
    width: 50%;
    float: left;
    padding: 20px;
    /* border: 2px solid blue; */
    flex-direction: column;
    position: relative;
    top: 4px;
}

.progressBar{
    height: 90px
}

.h1-font{
    color: #000000;
    font-size: 2rem;
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Yeseva One', serif;
}

/* .cards{
    filter: contrast(0.8);
} */